<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD143sJN36ivBv7EBbnLynVCPY5DwUjvtM</string>
	<key>GCM_SENDER_ID</key>
	<string>793588456163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.vertexaigeminidemo</string>
	<key>PROJECT_ID</key>
	<string>totp-ia</string>
	<key>STORAGE_BUCKET</key>
	<string>totp-ia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793588456163:ios:d2709c9e1130537b9283d6</string>
</dict>
</plist>